<div class="mob">
	<h1>Lunch Mob</h1>
	<h3><q>No one eats alone...</q></h3>
	<div class="category"><%= image_tag(@icon, :class => "icon") %></div>
	You'll be eating <b><%= @restaurant.category.name %></b> today!
	   
	<h3><%= @mob.restaurant.name %> at <%= @mob.restaurant.street_1 %></h3> 

	<p> Your LunchMob is waiting near the <b><%= @mob.meet_up_location.name %></b>... hurry up!</td>

				<table class="table" align='center'>  
			
					<% @mob.users.each do | mob_member | %>  

						<tr>
							<td><%= mob_member.name %></td>
						
						</tr>

					<% end %>
				</table> 

	<%= link_to 'Back', users_path %>

</div>